@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700;900&display=swap'); */

@import "tailwindcss";
@plugin "tailwind-scrollbar";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
};